[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urwid = ">=2.0.1"
python-mpd2 = "<2.0.0"

[dev-packages]
pytest = "*"
pytest-flakes = "*"
pytest-cov = "*"
pytest-mypy = "*"
pytest-pythonpath = "*"
pytest-codestyle = "*"

[requires]
python_version = "3.7.0"
